@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

#firstRow {
  margin-top: 200px;
}

#firstCol,
#thirdCol {
  margin-top: 200px;
}

#lolo {
  margin-top: 500x;
}

#count {
  padding: 20px;
  /*border: 0ch; */
}

#b1 {
  margin-top: 50px;
}

#topIcon {
  margin-left: 8px;
  text-align: left;
}

#bottomIcon {
  margin-right: 10px;
  text-align: right;
}
