@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

/* #card {
  margin-top: 200px;
}

.card {
  text-align: center;
}

#topIcon {
  margin-left: 8px;
  text-align: left;
}

#bottomIcon {
  margin-right: 10px;
  text-align: right;
}

#cardNumberTop,
#cardNumberBottom,
#cardIconTop,
#cardIconBottom {
  padding: 0%;
  margin: 0%;
  border: 0ch;
} */
